/* GLOBAL */
* {
   font-size: 8pt;
}

/* box labels */
QFrame#boxframe QLabel#label {
  font-weight: bold;
}

/* box */
QFrame#boxframe {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:.2, stop:0 rgb(175,175,175), stop:1 rgb(50,65,75));
        border: 1px solid rgb(35, 35, 35);
        border-radius: 5px;
        outline-offset: 5px;
        padding: 0;
/*        padding: 0 -12px 0 -12px;*/
}
QFrame#boxframe QLabel, QFrame#boxframe QCheckBox, QFrame#boxframe QRadioButton{
        color: white;
}
QFrame#boxframe QGroupBox {
        color: white;
        font-weight: bold;
        background: qlineargradient(x1:0 y1:0, x2:1 y2:0, stop:0 rgba(175,175,175,255), stop:1 rgba(255,255,255,50));
}
QFrame#boxframe QLabel[component="true"] {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        padding: 1px;
        font-weight: bold;
}

QCheckBox::indicator:unchecked {
     image: url(:/checkbox_unchecked.png);
 }

 QCheckBox::indicator:checked {
     image: url(:/checkbox_checked.png);
 }

/* minimized box */
QFrame#boxframe[content_minimized="true"] {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:1, stop:0 rgb(255,255,255), stop:1 rgb(50,65,75));
}

/* disabled box */
QFrame#boxframe[disabled="true"] {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:.2, stop:0 rgb(255,255,255), stop:1 rgb(225,225,225));
}
QFrame#boxframe[disabled="true"]  QLabel {
        color: black!important;
}

/* error box */
QFrame#boxframe[error="true"] {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:.2, stop:0 rgb(255,200,200), stop:1 rgb(165,30,55));
        border: 3px solid rgb(180, 0, 0);
}

/* warning box */
QFrame#boxframe[warning="true"] {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:.2, stop:0 rgb(255,245,200), stop:1 rgb(230,180,50));
        border: 3px solid rgb(180, 60, 0);
}

/* selected box */
QFrame#boxframe[focused="true"] {
        background: qlineargradient(x1:0 y1:0, x2:0 y2:.2, stop:0 rgb(255,255,255), stop:1 rgb(180,160,105));
}
QFrame#boxframe[focused="true"] QLabel {
        color: black!important;
}

/* board */
QWidget#DesignBoard {
        background: rgb(255, 255, 255);
}
QWidget#DesignBoard:focus {
        /*border: 1px solid rgb(255, 0, 0)!important;*/
}

QWidget#DesignBoard[grid="true"] {
        background: url(:/background.png) rgb(255, 255, 255);
}

/* connectors */
csapex--Port {
        border: 2px solid rgb(0, 0, 0);
        background: rgb(255,255,255);
        border-radius: 8px;
}

csapex--Port[disabled="true"]  {
        border: 2px solid rgb(128, 128, 128);
        background: rgb(200,200,200);
}
csapex--Port[error="true"]  {
        border: 2px solid rgb(165,30,55);
        background: rgb(255,200,200);
}
csapex--Port[legacy="true"]  {
        border: 2px solid rgb(255,255,255);
        background: rgb(0,0,0);
}
csapex--Port[async="true"]  {
        border: 2px solid rgb(255,200,128);
        background: rgb(255,255,255);
}
csapex--Port[blocked="true"]  {
        border: 2px solid rgb(255,255,0)!important;
}

/* connection */
csapex--Overlay  {
        color: rgb(165,30,55); /* output */
        background: rgb(180,160,105); /* input */
}
