/* GLOBAL */
* {
   font-size: 8pt;
}

/* box labels */
QFrame#boxframe QLabel#label {
  font-weight: bold;
}

/* box */
QFrame#boxframe {
        background: rgb(200, 220, 200);
        border: 2px solid rgb(90, 135, 80);
        border-radius: 24px;
        padding: 0;
}
QFrame#boxframe[flipped="false"] {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
}
QFrame#boxframe[flipped="true"] {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
}

QFrame#boxframe QLabel, QFrame#boxframe QCheckBox, QFrame#boxframe QRadioButton{
        color: black ;
}

QFrame#boxframe QSizeGrip {
        image: url(:/sizegrip.png);
        width: 16px;
        height: 16px;
}

QFrame#boxframe QGroupBox {
        color: black;
        font-weight: bold;
        border: 2px solid rgba(0,0,0,0);
        border-left: 2px solid rgba(0,0,0,40);
        padding-left: 5px;
        margin-top: 20px;
}
QFrame#boxframe QGroupBox[hidden="true"] {
        border: none;
        margin-top: 0;
}
QFrame#boxframe QGroupBox::title {
        subcontrol-origin: margin;
        padding: 0 0;
}
QFrame#boxframe QGroupBox::indicator {
        border-left: 2px solid rgba(0,0,0,0);
}

QFrame#boxframe QGroupBox::indicator:unchecked {
        image: url(:/show.png);
}
QFrame#boxframe QGroupBox::indicator:checked {
        image: url(:/hide.png);
}

QFrame#boxframe QLabel[component="true"] {
        border: 1px solid black;
        font-size: 8pt;
        border-radius: 5px;
        color: black;
        padding: 0px;
        font-weight: bold;
}
QFrame#boxframe QLabel[threadgroup="true"] {
        border: 1px dotted black;
        font-size: 8pt;
        border-radius: 5px;
        color: black;
        padding: 0px;
        font-weight: bold;
}
QFrame#boxframe QLabel[custom="true"] {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        padding: 1px;
        font-weight: bold;
}

QCheckBox::indicator:unchecked {
     image: url(:/checkbox_unchecked.png);
 }

 QCheckBox::indicator:checked {
     image: url(:/checkbox_checked.png);
 }

/* minimized box */
QFrame#boxframe[content_minimized="true"] {
}

/* disabled box */
QFrame#boxframe[disabled="true"] {
        background: rgb(200,200,200)
}
QFrame#boxframe[disabled="true"]  QLabel {
        color: black!important;
}

/* error box */
QFrame#boxframe[error="true"] {
        background: rgb(255, 100, 100);
        border-color: rgb(100,0,0);
}

/* warning box */
QFrame#boxframe[warning="true"] {
        background: rgb(240, 230, 200);
        border-color: rgb(255,200,0);
}

/* blocked box */
QFrame#boxframe[blocked="true"] {
}

/* selected box */
QFrame#boxframe[focused="true"] {
        background-color: rgb(100,200,255);
        border-color: rgb(50,100,200);
        border-style: dashed;
}
QFrame#boxframe[focused="true"] QLabel {
        color: black!important;
}

/* connectors */
csapex--Port {
        border: 2px solid rgb(0, 0, 0);
        background: rgb(255,255,255);
        border-radius: 8px;
}
csapex--Port[dynamic="true"] {
        border: 2px solid rgb(0, 0, 0);
        background: rgb(255,255,255);
        border-radius: 0px;
}
csapex--Port[disabled="true"]  {
        border: 2px solid rgb(128, 128, 128);
        background: rgb(200,200,200);
}
csapex--Port[error="true"]  {
        border: 2px solid rgb(165,30,55);
        background: rgb(255,200,200);
}
csapex--Port[unconnected="true"]  {
        border: 2px solid rgb(128,200,255);
        background: rgb(255,255,255);
}
csapex--Port[optional="true"]  {
}
csapex--Port[blocked="true"]  {
        border: 2px solid rgb(255,200,0)!important;
}

/* connection */
csapex--GraphView  {
        qproperty-lineColor: rgb(0,0,0);
        qproperty-lineColorError: rgb(255,0,0);
        qproperty-lineColorBlocked: rgb(255,200,0);
        qproperty-lineColorDisabled: rgb(200,200,200);
        qproperty-lineWidth: 5;
}
