[Desktop Entry]
Name=csapex
GenericName=CS::APEX
MimeType=application/x-csapex
Comment=Algorithm Prototyper and EXperimentor
Exec=env bash -c "source ${ws}/setup.bash && ${exe} %f"
Icon=${img}
Terminal=true
Type=Application
Categories=Utility;Application;X-csapex;X-ROS;
