<?xml version="1.0"?>
<launch>
   <include file="$(find ramaxxbase)/launch/durin.launch" />

   <node name="relay_imu" pkg="topic_tools" type="relay" args="/spacepoint/imu /robot_1/spacepoint/imu" output="screen" />

   <node name="relay_tf" pkg="topic_tools" type="relay" args="/tf /robot_1/tf" output="screen" />

<!--   <node name="relay_scan" pkg="topic_tools" type="relay" args="/scan /robot_1/scan" />-->

<!--   <node name="relay_pose" pkg="topic_tools" type="relay" args="/slam_out_pose /robot_1/pose" /> -->

<!--   <node name="relay_map" pkg="topic_tools" type="relay" args="/map /durin/map" />-->
   <node pkg="robot_detection" type="rerouter" name="rerouter" output="screen">
       <param name="slave" type="bool" value="true" />
       <param name="laser_frame" type="string" value="/laser" />
   </node>

   <include file="$(find hector_mapping)/launch/mapping_default.launch" />

   <include file="$(find robot_detection)/launch/master.launch">
     <arg name="master" value="gloin" />
   </include>


</launch>


