<?xml version="1.0" ?>
<launch>
  <param name="use_sim_time" value="true" />

  <node pkg="robot_detection" type="rerouter" name="rerouter" output="screen" />
  
  <node pkg="robot_detection" type="pose2tf" name="pose2tf" output="screen" args="/durin/pose /durin/map /durin/base_link" />
  
  <node pkg="robot_detection" type="masked2img" name="masked2img" output="screen" />


  <!-- TODO: this has to be computed automatically -->
  <node pkg="tf" type="static_transform_publisher" name="relative_transform" args="2.7 -2.8 0 1.2 0 0 /map /durin/map 100" />
    
  <node pkg="tf" type="static_transform_publisher" name="durin_base_link_to_laser" args="0.20 0 0 0 0 3.14159 /durin/base_link /durin/laser 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="camera_frame" args="0.0 0.0 0.0 0 0 0 /base_link /cam 10" />
</launch>
